<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <link rel="stylesheet" href="/css/productDetail.css" />
    <link rel="stylesheet" href="/css/cart.css" />
    <style>
      .banner-img {
        max-width: 1200px;
      }
      .card-product:hover {
        background-image: url("img/");
      }
    </style>
  </head>

  <body class="position-relative">
    <div
      class="nav-header justify-content-between py-1 px-5 top-0 start-0 end-0"
      style="z-index: 999"
    >
      <div class="col-sm col-lg d-flex gap-4 py-2">
        <div class="ms-auto d-flex gap-2">
          <img src="/img/icon_tra_cuu_don_hang.svg " alt=" " />
          <a class="text-decoration-none header-nav" href=" ">
            <span class="d-none d-md-block">Tra cứu đơn hàng</span>
          </a>
        </div>
        <div class="d-flex gap-2">
          <img src="/img/icon_tim_cua_hang.svg " alt=" " />
          <a class="text-decoration-none header-nav" href=" ">
            <span class="d-none d-md-block">
              <span class="d-none d-md-block">Tìm đơn hàng</span>
            </span>
          </a>
        </div>
        <div class="d-flex gap-2">
          <img src="/img/icon_heart_header.svg " alt=" " />
          <a class="text-decoration-none header-nav" href=" ">
            <span class="d-none d-md-block">Yêu thích</span>
          </a>
        </div>
        <div class="d-flex gap-2">
          <img src="/img/icon_dang_nhap.svg " alt=" " />
          <a class="text-decoration-none header-nav" href=" ">
            <span class="d-none d-md-block">Đăng nhập</span>
          </a>
        </div>
        <div class="d-flex gap-2">
          <img src="/img/icon_gio_hang.svg" alt=" " />
          <a class="text-decoration-none header-nav" href=" ">
            <span class="d-none d-md-block">Giỏ hàng</span>
          </a>
        </div>
      </div>
    </div>
    <div class="nav-content container">
      <div class="row mt-3 pb-4">
        <div class="col-lg-2 col-sm-6">
          <img class="ms-3" src="/img/Logo_Ananas_Header.svg" alt="" />
        </div>
        <div class="col-lg-10 col-sm-6 pt-3">
          <nav class="navbar navbar-expand-sm navbar">
            <div class="container-fluid">
              <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#mynavbar"
              >
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="mynavbar">
                <ul class="navbar-nav me-auto dropdown">
                  <li class="header-item nav-item me-5 dropdown">
                    <a
                      class="nav-link dropdown-toggle"
                      href="#"
                      role="button"
                      data-bs-toggle="dropdown"
                      aria-expanded="false"
                    >
                      Sản phẩm
                    </a>
                    <ul class="dropdown-menu top-100 shadow-sm">
                      <li><a class="dropdown-item" href="#">test</a></li>
                    </ul>
                  </li>
                  <li class="header-item nav-item me-5 dropdown">
                    <a
                      class="nav-link dropdown-toggle"
                      href="#"
                      role="button"
                      data-bs-toggle="dropdown"
                      aria-expanded="false"
                    >
                      Nam
                    </a>
                    <ul class="dropdown-menu top-100 shadow-sm">
                      <li><a class="dropdown-item" href="#">test</a></li>
                    </ul>
                  </li>
                  <li class="header-item nav-item me-5 dropdown">
                    <a
                      class="nav-link dropdown-toggle"
                      href="#"
                      role="button"
                      data-bs-toggle="dropdown"
                      aria-expanded="false"
                    >
                      Nữ
                    </a>
                    <ul class="dropdown-menu top-100 shadow-sm">
                      <li><a class="dropdown-item" href="#">test</a></li>
                    </ul>
                  </li>
                  <li class="header-item nav-item me-5">
                    <a class="nav-link" href="#">Sale off</a>
                  </li>
                  <img src="/img/DiscoverYOU.svg" alt="" />
                </ul>
                <form class="d-flex border border-2 py-1 rounded-2">
                  <ion-icon
                    name="search-outline"
                    class="position-absolute header-icon_search ms-1"
                  ></ion-icon>
                  <input
                    class="form-control form-control-sm w-100 ps-4 border border-0"
                    type="text"
                    placeholder="Tìm kiếm"
                  />
                </form>
              </div>
            </div>
          </nav>
        </div>
      </div>
    </div>
    <div class="silder-content container-fluid">
      <div class="row" style="background-color: #f1f1f1">
        <div class="col py-3 d-flex justify-content-evenly slider">
          <span class="prev">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="30"
              height="30"
              fill="#d5d5db"
              class="bi bi-arrow-left-short"
              viewBox="0 0 16 16"
            >
              <path
                fill-rule="evenodd"
                d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5z"
              />
            </svg>
          </span>
          <a href="#" class="slide-text header-content"></a>
          <span class="next">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="30"
              height="30"
              fill="#d5d5db"
              class="bi bi-arrow-right-short"
              viewBox="0 0 16 16"
            >
              <path
                fill-rule="evenodd"
                d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"
              />
            </svg>
          </span>
        </div>
      </div>
    </div>
    <div class="cart-Main my-3">
      <div class="container col-10">
        <div class="row g-5">
          <div class="col-8 cart-left">
            <h3>Giỏ hàng</h3>
            <div class="row">
              <div class="col-12 product_cart">
              </div>
              <div class="col-12 hr_cart my-3 mb-5">
                <div style="border-bottom: 2px solid #000"></div>
              </div>
            </div>
            <div class="row">
              <div class="col-12 hr_cart my-5">
                <div style="border-bottom: 2px solid #000"></div>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <div class="d-flex justify-content-between">
                  <div class="service-bottom">
                    <button class="btn btn-dark removeAll">
                      <span> Xóa Hết </span>
                    </button>
                  </div>
                  <a class="service-bottom" href="/view/product.html">
                    <button class="btn btn-dark">
                      <span> Quay lại mua hàng </span>
                    </button>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-4 cart-right">
            <div class="cart-body-right">
              <div class="p-3">
                <h3>Đơn Hàng</h3>
                <div class="col-12">
                  <div style="border-bottom: 2px solid #000"></div>
                </div>
                <div class="mt-4">
                  <h5 class="fw-bold text-uppercase" style="font-size: 20px">
                    Nhập mã khuyến mãi
                  </h5>
                  <div class="row g-0">
                    <div class="col-8">
                      <input
                        type="text"
                        class="form-control w-100 py-2 rounded-end-0"
                      />
                    </div>
                    <div class="col-4">
                      <button
                        class="btn btn-dark w-100 py-2 rounded-start-0 border-0 text-uppercase"
                        style="
                          background-color: #f15e2c;
                          font-weight: 600;
                          width: fit-content;
                        "
                      >
                        Áp Dụng
                      </button>
                    </div>
                  </div>
                  <hr class="hr_product" />
                  <div class="row g-3 my-3">
                    <div
                      class="col-12 d-flex justify-content-between cart-body-price"
                    >
                      <span>Đơn Hàng</span>
                      <span class="total_price">?</span>
                    </div>
                    <div
                      class="col-12 d-flex justify-content-between cart-body-price"
                    >
                      <span>Giảm giá</span>
                      <span style="color: #808080">0 VND</span>
                    </div>
                  </div>
                  <hr class="hr_product" />
                  <div class="row g-3">
                    <div
                      class="col-12 d-flex justify-content-between total-product-cart"
                    >
                      <span>Tạm tính</span>
                      <span class="total_price1">?</span>
                    </div>
                    <div class="col-12">
                      <button class="btn btn-danger w-100 py-3 total-btn">
                        Thánh toán
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer">
      <div class="container-fluid">
        <div class="row py-5">
          <div class="col-lg-3 col-sm-12">
            <div class="card border border-0 bg-body-emphasis" style="">
              <img src="/img/Store.svg" class="card-img-top" alt="..." />
              <div class="card-body">
                <a
                  href="#"
                  class="btn btn-dark text-uppercase rounded-0 w-100"
                  style="background-color: #f15e2c"
                  >Muốn xem nữa</a
                >
              </div>
            </div>
          </div>
          <div class="col-lg-9 col-sm-6">
            <div class="row">
              <div class="col-lg-3 col-sm-6">
                <h4 class="footer-title">Sản phẩm</h4>
                <ul class="nav flex-column pt-1">
                  <li class="nav-item footer-pos">
                    <a class="nav-link py-1 footer-text" href="#">Giày Nam</a>
                  </li>
                  <li class="nav-item footer-pos">
                    <a class="nav-link py-1 footer-text" href="#">Giày Nữ</a>
                  </li>
                  <li class="nav-item footer-pos">
                    <a class="nav-link py-1 footer-text" href="#"
                      >Thời trang & Phụ kiện</a
                    >
                  </li>
                  <li class="nav-item footer-pos">
                    <a class="nav-link py-1 footer-text" href="#">Sale-off</a>
                  </li>
                </ul>
              </div>
              <div class="col-lg-3 col-sm-6">
                <h4 class="footer-title">VỀ CÔNG TY</h4>
                <ul class="nav flex-column pt-1">
                  <li class="nav-item footer-pos">
                    <a class="nav-link py-1 footer-text" href="#"
                      >Dứa tuyển dụng</a
                    >
                  </li>
                  <li class="nav-item footer-pos">
                    <a class="nav-link py-1 footer-text" href="#"
                      >Liên hệ nhượng quyền</a
                    >
                  </li>
                  <li class="nav-item footer-pos">
                    <a class="nav-link py-1 footer-text" href="#">Về Ananas</a>
                  </li>
                </ul>
              </div>
              <div class="col-lg-3 col-sm-6">
                <h4 class="footer-title">HỖ TRỢ</h4>
                <ul class="nav flex-column pt-1">
                  <li class="nav-item footer-pos">
                    <a class="nav-link py-1 footer-text" href="#">FAQs</a>
                  </li>
                  <li class="nav-item footer-pos">
                    <a class="nav-link py-1 footer-text" href="#"
                      >Bảo mật thông tin
                    </a>
                  </li>
                  <li class="nav-item footer-pos">
                    <a class="nav-link py-1 footer-text" href="#"
                      >Chính sách chung</a
                    >
                  </li>
                  <li class="nav-item footer-pos">
                    <a class="nav-link py-1 footer-text" href="#"
                      >Tra cứu đơn hàng</a
                    >
                  </li>
                </ul>
              </div>
              <div class="col-lg-3 col-sm-6">
                <h4 class="footer-title">LIÊN HỆ</h4>
                <ul class="nav flex-column pt-1">
                  <li class="nav-item footer-pos">
                    <a class="nav-link py-1 footer-text" href="#"
                      >Email góp ý</a
                    >
                  </li>
                  <li class="nav-item footer-pos">
                    <a class="nav-link py-1 footer-text" href="#">Hotline</a>
                  </li>
                  <li class="nav-item footer-pos">
                    <a class="nav-link py-1 footer-text" href="#"
                      >0963 429 749</a
                    >
                  </li>
                </ul>
              </div>
            </div>
            <div class="row pt-3 gy-5">
              <div class="col-lg-3 col-sm-6">
                <h4 class="footer-title">ANANAS SOCIAL</h4>
                <div class="img-icon">
                  <img src="/img/icon_instagram.svg" alt="" />
                  <img src="/img/icon_facebook.svg" alt="" />
                  <img src="/img/icon_youtube.svg" alt="" />
                </div>
              </div>
              <div class="col-lg-3 col-sm-6">
                <h4 class="footer-title">ĐĂNG KÝ NHẬN MAIL</h4>
                <div class="form-mail">
                  <input class="form-control rounded-0 w-75" type="text" />
                  <img src="/img/arrow_right.jpg" alt="" />
                </div>
              </div>
              <div class="col-lg-6 col-sm-12">
                <img
                  src="/img/Logo_Ananas_Footer.svg"
                  alt=""
                  class="w-100 object-fit-cover"
                />
              </div>
            </div>
            <div class="row pt-5">
              <div class="col-lg-3 col-sm-12">
                <img src="/img/icon_bocongthuong.png" alt="" />
              </div>
              <div class="col-lg-9 col-sm-12 pt-4 footer-copy">
                Copyright © 2022 Ananas. All rights reserved.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="/js/cart.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js "
      integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN "
      crossorigin="anonymous "
    ></script>
  </body>
</html>
